<div
  class="border-[0.1px] ring-0 outline-none rounded-md border-white dark:border-theme-dark bg-white dark:bg-theme-dark px-8 py-6 mb-4">
  <div class="bg-inherit flex flex-col ">
    <p class="flex-auto box-content block my-2 text-gray-900  dark:text-gray-100 cursor-pointer truncate">
      {{ .title }}
    </p>
    <p class="mb-6">{{ .desc }}</p>
    {{ $tech:= .tech }}
    {{ if $tech }}
    <span class="mr-4">
      {{ range $i,$p:= $tech }}
      <span class="tech dark:text-white mr-2 mb-2 rounded-sm px-2 py-1 text-xs font-medium text-white">{{ . | humanize
        }}{{ if
        ne $i (sub (len $tech) 1)
        }}
        {{ end }}
      </span>
      {{ end }}
    </span>
    {{ $links := .links }}

    {{ if $links }}
    <div class="mr-4 flex justify-end gap-x-4 ">
      {{ range $i,$p:= $links }}
      <a href="{{ $p.url }}" target="_blank"
        class="links  mr-2 mb-2 rounded-sm px-2 py-1 text-sm font-medium inline-block">{{ $p.source }}</a>
      {{ end }}
    </div>
    {{ end }}
    {{ $tech := resources.Get "js/tech.js" | js.Build }}
    <script type="module" src="{{ $tech.RelPermalink }}"></script>

    {{ $links := resources.Get "js/roughProject.js" | js.Build }}
    <script type="module" src="{{ $links.RelPermalink }}"></script>
    {{ end }}
  </div>
</div>
