{{ define "main" }}
{{ partial "page-header" . }}
<div class="container mt-4">
  <div class="flex flex-col gx-1">
    <!-- blog posts -->
    <div class="w-4/5 mx-auto">
      <div class="flex flex-col">
        {{ $paginator:= .Paginate .RegularPages }}
        {{ range $paginator.Pages }}
        <div>
          {{ partial "components/blog-card" . }}
        </div>
        {{ end }}
      </div>
      {{ partial "components/pagination.html" . }}
    </div>
    <!-- sidebar -->
  </div>
</div>
</section>
{{ end }}
