* {
    margin: 0;
    padding: 0;
    font-family: 'JetBrains Mono', monospace;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
}

body {
    overflow: hidden;
    background: black;

    filter: saturate(0.5);

}

canvas {
    position: absolute;
    display: block;
}

.title {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
}

h1 {
    position: absolute;
    font-size: 2rem;
    color: #29ff00;
    z-index: 999;
    text-shadow: 0 0 10px #29ff00;
}

p {
    position: absolute;
    font-size: 1rem;
    color: #29ff00;
    z-index: 999;
    text-shadow: 0 0 10px #29ff00;
    margin-top: 75px;
    line-height: 15px;
}

.hintseg {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    text-align: center;
}

.hint {
    font-size: 1rem;
    color: #29ff00;
    z-index: 999;
    margin-top: 2rem;
    text-shadow: 0 0 10px #29ff00;
}

.rainbow {
    animation: hue-rotate 2s infinite linear;
}

@keyframes hue-rotate {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

.flicker-slower {
    animation: flicker 4s linear infinite;
}


.flicker-slow {
    animation: flicker 3s linear infinite;
}

.flicker-fast {
    animation: flicker 2s linear infinite;
}

.flicker-faster {
    animation: flicker 1s linear infinite;
}

@keyframes flicker {
    0%,
    19.999%,
    22%,
    62.999%,
    64%,
    64.999%,
    70%,
    100% {
        opacity: .99;

    }

    20%,
    21.999%,
    63%,
    63.999%,
    65%,
    69.999% {
        opacity: 0.4;
    }
}